
<!-- Modal -->
<style type="text/css">
    input.error {
        border-color: #f00 !important;
    }

    label.error {
        clear: both;
        color: #f00;
        display: block;
        /* padding: 10px; */
        text-align: left;
        margin: unset;
        padding: unset;
        font-size: 13px;
        font-weight: unset !important;
        background: unset;
    }
    #QuantityProduct .table-bordered thead td, #QuantityProduct .table-bordered thead th {
        padding: 5px;
        font-size: 14px;
        font-weight: unset;
    }
    .btn-add-quantity {
        padding: 2px 7px;
        line-height: unset;
        font-size: 13px;
        display: inline-block;
        float: unset !important;
    }
</style>
<div class="modal fade" id="QuantityProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="#" method="#" id="formSubmitAdd">
                <div class="modal-header">
                    <h5 class="modal-title txt-title-modal" id="exampleModalLabel">Số lượng sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover dataTable dtr-inline">
                        <thead>
                            <tr>
                                <th class="stt">STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Kích thước</th>
                                <th>Ngày nhập</th>
                                <th>Tổng số nhập</th>
                                <th>Tổng số bán</th>
                                <th>Tổng sô tồn</th>
                                <th class="function-list" style="text-align: center;">
                                    <button class="btn btn-success float-right btn-add-quantity" type="button" data-toggle="modal" data-target="#_add">Thêm mới</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbDataQuantity">
                           
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">
            <form action="#" method="#" id="formSubmitAdd">
                <div class="modal-header">
                    <h5 class="modal-title txt-title-modal" id="exampleModalLabel">Thêm mới <span class="product-name"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="txt-title">Kích thước</label>
                        <input type="text" class="form-control name" placeholder="tên category" name="name" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label class="txt-title">Mô tả</label>
                        <div class="form-group">
                            <textarea cols="3" rows="4" class="txtDescription form-control"></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>